{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{title|safe}}{% endblock %}
{% block content %}
<div class="col" style="max-width:750px;">
    <div class="x_panel">
        <div class="x_content">
            <form action="{{ url_for('settingsBP.companyView') }}" method="post" >
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h3>Company</h3>
                        {{ form.regNo.label }}
                        {{ form.regNo(readonly = true, class_='form-control')}}<br>
                        {% for error in form.regNo.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        {{ form.companyName.label }}
                        {{ form.companyName(class_='form-control ')}}<br>
                        {% for error in form.companyName.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        {{ form.addr.label }}
                        {{ form.addr(class_='form-control ')}}<br>
                        {% for error in form.addr.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        {{ form.addr2.label }}
                        {{ form.addr2(autocomplete="false", class_='form-control ')}}<br>
                        {% for error in form.addr2.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        {{ form.postcode.label }}
                        {{ form.postcode(class_='form-control ')}}<br>
                        {% for error in form.postcode.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        {{ form.city.label }}
                        {{ form.city(class_='form-control ')}}<br>
                        {% for error in form.city.errors %}
                            <p>{{error}}</p>
                        {% endfor %}

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h3>Contact</h3>
                        {{ form.contactName.label }}
                        {{ form.contactName(class_='form-control', onchange="myFunction()")}}<br>
                        {% for error in form.contactName.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        <br>
                        {{ form.phone.label }}
                        {{ form.phone(readonly=True, class_='form-control')}}<br>
                        {% for error in form.phone.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        {{ form.email.label }}
                        {{ form.email(readonly=True, class_='form-control')}}<br>
                        {% for error in form.email.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        <br>

                    </div>
                </div>
                    <div class="input-group" style="float:right;">
                        {{ form.csrf_token }}
                        <input type="submit" class="btn btn-primary" value="Save changes">
                    </div>
            </form>

        </div>
    </div>
</div>
<p id="demo"></p>
<script>
function myFunction() {
    var x = document.getElementById("contactName").value;
    Sijax.request('getContactDetails', [x]);
}
</script>

{% endblock %}
{% block foot %}
{{ super() }}
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>
{% endblock %}
