{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{title|safe}}{% endblock %}
{% block validationMessages %}
{% endblock %}
{% block content %}
<div style="width:{{formWidth|safe}}px;">
<div class="x_panel">
<div class="x_title">
<h2>{{contentTitle|safe}}</h2>
<div class="clearfix"></div>
</div>
<div class="x_content">
<form method="post" >
    {{ form.regNo.label }}
    {{ form.regNo(class_='form-control')}}<br>
    {% for error in form.regNo.errors %}
        <p>{{error}}</p>
    {% endfor %}
    {{ form.companyName.label }}
    {{ form.companyName(class_='form-control ')}}<br>
    {% for error in form.companyName.errors %}
        <p>{{error}}</p>
    {% endfor %}
    {{ form.userName.label }}
    {{ form.userName(class_='form-control ')}}<br>
    {% for error in form.userName.errors %}
        <p>{{error}}</p>
    {% endfor %}
    {{ form.email.label }}
    {{ form.email(autocomplete="false", class_='form-control ')}}<br>
    {% for error in form.email.errors %}
        <p>{{error}}</p>
    {% endfor %}
    {{ form.password.label }}
    {{ form.password(autocomplete="new-password", class_='form-control ')}}<br>
    {% for error in form.password.errors %}
        <p>{{error}}</p>
    {% endfor %}
    <br>
    <div class="input-group" style="float:right;">
        {{ form.csrf_token }}
        <a href="#" onclick="window.history.back();">Cancel</a> &nbsp
        <input type="submit" class="btn btn-primary" value="Create">
    </div>
</form>
</div>
</div>
</div>
{% endblock %}
{% block foot %}
{{ super() }}
{% endblock %}
