{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{title|safe}}{% endblock %}
{% block content %}
<div style="width:{{formWidth|safe}}px;">
<div class="x_panel">
<div class="x_title">
<h2>{{contentTitle|safe}}</h2>
<div class="clearfix"></div>
</div>
<div class="x_content">
<form method="post" action="">
    {{ form.csrf_token }}
    {{ form.password.label }}
    {{ form.password(autocomplete="new-password", class_='form-control ')}}<br>
    {% for error in form.password.errors %}
        <p>{{error}}</p>
    {% endfor %}

    <br>
    <div class="input-group" style="float:right;">
        <a href="#" onclick="window.history.back();">Cancel</a> &nbsp
        <input type="submit" class="btn btn-primary" tabindex="1" value="OK">
    </div>
</form>
</div>
</div>
</div>
{% endblock %}
{% block foot %}
{{ super() }}
{% endblock %}
