{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/datepicker.min.css') }}">
{% endblock %}
{% block title %}{{title|safe}}{% endblock %}
{% block content %}
<div style="max-width:900px;">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Indicator Details</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <label>Indicator:</label>&nbsp
                            {{indDetails.title|safe}}
                        </p>
                        <p>
                            <label>Data Source:</label>&nbsp
                            {{indDetails.dataSource|safe}}
                        </p>
                        <p>
                            <label>Unit of measure:</label>&nbsp
                            {{indDetails.UOM|safe}}
                        </p>
                        <p>
                            <label>Indicator type:</label>&nbsp
                            {{indDetails.indicatorType|safe}}
                        </p>
                        <p>
                            <label>Indicator owner:</label>&nbsp
                            {{indDetails.owner|safe}}
                        </p>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <label>Indicator description:</label>&nbsp
                            {{indDetails.desc|safe}}
                        </p>
                        <p>
                            <label>Measurement frequency:</label>&nbsp
                            {{indDetails.measurementFrequency|safe}}
                        </p>
                        <p>
                            <label>Process type:</label>&nbsp
                            {{indDetails.processType|safe}}
                        </p>
                        <p>
                            <label>Good performance:</label>&nbsp
                            {{indDetails.goodPerformance|safe}}
                        </p>
                        <p>
                            <label>Indicator responsible:</label><br>
                            {% for r in indDetails.responsible %}
                            {{loop.index}}:&nbsp;{{r}}<br>
                            {% endfor %}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Targets</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Valid from</th>
                                <th>Valid to</th>
                                {% if indDetails.goodPerformance == 'Range' %}
                                    <th>Target value from</th>
                                    <th>Target value to</th>
                                {% else %}
                                    <th>Target Value</th>
                                {% endif %}
                                <th class="tableButtons">
                                    <a href="#" data-toggle="modal" data-target="#newTargetModal"><i class="fa fa-plus"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in tableData %}
                            <tr>
                                {% for i in row[1:] %}
                                    <td>{{ i|safe }}</td>
                                {% endfor %}
                                {% if not withoutDeleteEntry %}
                                <td class="tableButtons">
                                    <form name="deleteForm{{row[0]}}" action="{{ request.path }}/delete/{{row[0]}}" class="deleteForm" method="post">
                                    <input type='hidden' name='uuid' value='{{row[0]}}'>
                                    </form>
                                    <a href="#" data-toggle="modal" data-target=".deleteModal{{row[0]}}"><i class="fa fa-close"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="newTargetModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:400px;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    New Target
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form action="{{url_for('perfBP.indicatorTargetView', uuid=indicator_uuid)}}" method="post" id="targetForm">
                    <div class="row">
                        <div class="input-daterange input-group" id="datepicker">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label>Target valid from</label><br>
                                {{ targetForm.targetValidFrom(placeholder="dd/mm/yyyy", class_='form-control')}}
                                {% for error in targetForm.targetValidFrom.errors %}
                                <p>{{error}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">

                                <label>Target valid to</label>
                                {{ targetForm.targetValidTo(placeholder="dd/mm/yyyy", class_='form-control')}}
                                {% for error in targetForm.targetValidTo.errors %}
                                <p>{{error}}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% if indDetails.goodPerformance == 'Range' %}
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ targetForm.valueFrom.label }}
                                {{ targetForm.valueFrom(class_='form-control')}}
                                {% for error in targetForm.valueFrom.errors %}
                                    <p>{{error}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ targetForm.valueTo.label }}
                                {{ targetForm.valueTo(class_='form-control')}}
                                {% for error in targetForm.valueTo.errors %}
                                    <p>{{error}}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label>Target Value</label>
                                {{ targetForm.valueFrom(class_='form-control')}}
                                {% for error in targetForm.valueFrom.errors %}
                                    <p>{{error}}</p>
                                {% endfor %}
                             </div>
                            <div class="col-md-6 col-sm-6 col-xs-646">
                                {{ targetForm.valueTo(class_='form-control hidden', value=0)}}
                            </div>
                        {% endif %}

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group" style="float:right;">
                                {{ targetForm.csrf_token }}
                                <button id="cancelModalButton" type="button" class="btn btn-link">cancel</button> &nbsp
                                <input type="submit" class="btn btn-primary" value="OK">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% include 'modal/deleteModal.html' %}
<script type="text/javascript">
    function confirm_click(){
        return confirm("Are you sure ?");
    }
</script>

{% endblock %}
{% block foot %}
{{ super() }}
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>

<!--Form error handler-->
<script type="text/javascript">
    var formErrors = {% if targetForm.errors %}true{% else %}false{% endif %};
    $(document).ready(function() {
        if (formErrors) {
            $('.modal').modal('show');
        }
    });
</script>

<!--Form sijax cancel-->
<script type="text/javascript">
$(function() {

    $('#cancelModalButton').bind('click', function() {
        Sijax.request('cancelModal', ['targetForm','newTargetModal']);
        //Prevent the form from being submitted
        return false;
    });
});
</script>

<script src="{{url_for('static', filename='js/datepicker.min.js')}}"></script>
<script src="{{url_for('static', filename='js/datepicker.en-GB.min.js')}}"></script>
<script type="text/javascript">
    $('#targetForm .input-daterange').datepicker({
        weekStart: 1,
        todayHighlight: true,
        language: "en-GB",
        toggleActive: true,
        autoclose: true,
        startDate: "01-01-2017",
        endDate: "31-12-2030",
        datesDisabled: {{datesDisabled|safe}},        
    });

</script>
{% endblock %}
