{% extends "base.html" %}
{% block head %}
{{ super() }}

<style>
		canvas {
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
		}
	</style>
{% endblock %}
{% block title %}{{title|safe}}{% endblock %}
{% block content %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="x_panel">
<div class="x_title">
<h2>{{contentTitle|safe}}</h2>
<div class="clearfix"></div>
</div>
<div class="x_content">
    <div class="chart-container">
			<div id="chart" class="chart"></div>
		</div>
<!--    <canvas id="myChart" height="400"></canvas>-->
</div>
</div>
</div>
{% endblock %}
{% block foot %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.fillbetween.js"></script>
<script src="https://raw.githubusercontent.com/analoureiro99/flot-fillArea-plugin/master/jquery.flot.fillarea.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.resize.js"></script>
<script type="text/javascript">

	$(function() {
		var values = {{chartData|safe}};

        var dataset = [{id: 'avgTopLine',
                        data: values['avgTop'],
                        label: 'Upper target',
                        lines: {show: true,
                                lineWidth: 2,
                                fill: false},
                        color: '#2ecc71'},

                       {id: 'avgBottom',
                        data: values['avgBottom'],
                        label: 'Lower target',
                        lines: {show: true,
                                lineWidth: 2,
                                fill: false},
                        color: '#e67e22'},

                       {id: 'avgTop',
                        data: values['avgTop'],
                        lines: {show: true,
                                lineWidth: 0,
                                fill: 0.08},
                        fillBetween: 'avgBottom',
                        color: '#f1c40f'},

                       {data: values['values'],
                        label: 'Actual',
                        lines: {show: true,
                                lineWidth: 3,
                                fill: false},
                        points: {show: true,
                                 radius: 4},
                        color: '#34495e'}, ];

        $.plot($("#chart"), dataset, {xaxis: {ticks: {{xTicks|safe}}},
                                      yaxis: {},
                                      series: {lines: {},
                                               points: {}},
                                     });


        $(".chart-container").resizable({
        });

	});

	</script>
{% endblock %}
