{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{title|safe}}{% endblock %}
{% block content %}
<div style="width:{{formWidth|safe}}px;">
<div class="x_panel">
<div class="x_title">
<h2>{{contentTitle|safe}}</h2>
<div class="clearfix"></div>
</div>
<div class="x_content">
<form method="post" >
    {{ form.groupName.label }}
    {{ form.groupName(class_='form-control ')}}
    {% for error in form.groupName.errors %}
        <p>{{error}}</p>
    {% endfor %}
    {{ form.groupDesc.label }}
    {{ form.groupDesc(class_='form-control ')}}
    {% for error in form.groupDesc.errors %}
        <p>{{error}}</p>
    {% endfor %}
    {{ form.groupUsers.label }}
    {{ form.groupUsers(class_='form-control')}}
    {% for error in form.groupUsers.errors %}
        <p>{{error}}</p>
    {% endfor %}
    <br><br>
    <div class="input-group" style="float:right;">
        {{ form.csrf_token }}
        <a href="#" onclick="window.history.back();">Cancel</a> &nbsp
        <input type="submit" class="btn btn-primary" value="OK">
    </div>
</form>
</div>
</div>
</div>

{% endblock %}
{% block foot %}
{{ super() }}
{% endblock %}
