{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{title|safe}}{% endblock %}
{% block content %}
<div style="width:{{formWidth|safe}}px;">
<div class="x_panel">
<div class="x_title">
<h2>{{contentTitle|safe}}</h2>
<div class="clearfix"></div>
</div>
<div class="x_content">


<form method="post" name="userForm" id="userForm">
    {{ usrForm.userName.label }}
    {{ usrForm.userName(class_='form-control ')}}
    {% for error in usrForm.userName.errors %}
        <p>{{error}}</p>
    {% endfor %}
    <br>
    {{ usrForm.userEmail.label }}
    {{ usrForm.userEmail(class_='form-control ')}}
    {% for error in usrForm.userEmail.errors %}
        <p>{{error}}</p>
    {% endfor %}
    <br>
    {{ usrForm.userPhone.label }}
    {{ usrForm.userPhone(class_='form-control ')}}
    {% for error in usrForm.userPhone.errors %}
        <p>{{error}}</p>
    {% endfor %}
    <br>
    {{ usrForm.userRole.label }}<br>
    {{ usrForm.userRole(class_='radio')}}
    {% for error in usrForm.userRole.errors %}
        <p>{{error}}</p>
    {% endfor %}

    {{ usrForm.userGroups.label }}
    <div class="input-group">
    {{ usrForm.userGroups(class_='form-control')}}
    {% for error in usrForm.userGroups.errors %}
        <p>{{error}}</p>
    {% endfor %}
    <span class="input-group-btn">
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newGroupModal">New</button></span></div>
    <br><br>
    <div class="input-group" style="float:right;">
        {{ usrForm.csrf_token }}
        <a href="#" onclick="window.history.back();">Cancel</a> &nbsp
        {{usrForm.userSubmit()}}
    </div>
</form>

<!-- Modal -->
<div class="modal" id="newGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog"  style="width:400px;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    New Group
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form method="post" name="newGroupForm" id="newGroupFrom">
                {{ grpForm.groupName.label }}
                {{ grpForm.groupName(class_='form-control')}}
                <p id="groupNameValidator"></p>
                {{ grpForm.groupDesc.label }}
                {{ grpForm.groupDesc(class_='form-control ')}}
                <p id="groupDescValidator"></p>
                <br><br>
                <div class="input-group" style="float:right;">
                    {{ grpForm.csrf_token }}
                    <a href="#" onclick="window.history.back();">Cancel</a> &nbsp
                    {{ grpForm.groupSubmit() }}
                </div>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block foot %}
{{ super() }}
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>

<!--Form error handler-->
<script type="text/javascript">
    var formErrors = {% if grpForm.errors %}true{% else %}false{% endif %};
    $(document).ready(function() {
        if (formErrors) {
            $('.modal').modal('show');
        }
    });
</script>

<!--Form sijax submission-->
<script type="text/javascript">
$(function() {
    $('#newGroupForm').bind('submit', function() {
        //Get form values
        var values = Sijax.getFormValues('#newGroupForm');
        //Send form values to sijax handler
        Sijax.request('userFormGroupModal', [values]);
        //Prevent the form from being submitted
        return false;
    });
});
</script>

{% endblock %}
